section {
    background-color: #B4CDED;
    text-align: center;
    border: #FFED66;
    flex-basis: 33%;
}
h1, h2 {
    color: #2274A5;
    font-family: 'PT Serif', serif;
}
a, p {
    font-family: 'Quicksand', sans-serif;
}
header {
    background-color: #B4CDED;
}
footer {
    background-color:  #B4CDED;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
/**Tablet view**/
@media only screen and (min-width: 560px) {
    main {
        flex-basis: 50%;
    }
}
/**Desktop view**/
@media only screen and (min-width: 1028px) {
    main {
        flex-basis: 33%;
    }
}