/**Tablet View**/
@media only screen and (min-width: 560px) {
    .icon {display: none;}

    /* .hero-image {
        content:url("../images/idaho-weather-image.jpg");
    } */

    main, footer {
        max-width: 70rem;
        text-align: center;
    }

    nav {
        background-color: #eee;
    }

    .menu {
        display: flex;
        text-align: center;
    }
    .menu li {
        display: inline-block;
        margin: auto;
        padding: 10px 15px;
    }

    li:hover {
        background-color: #FFED66;
    }
    input {
        display:inline-flex;
    }
    .article-image {
        content:url("../images/earthquake-utah.jpg");
    }
}