#logo {
    float: left;
    width: 80px;
    font-size: 1rem;
}
.icon {display: block;}

nav {
    background-color: #eee;
}

nav a {
    color: #0C120C;
    padding: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .6rem 2%;
    text-decoration: none;
    color: #0C120C;
}

.hero-image, .article-image {
    min-width: 50%;
    height: 10%;
}
article {text-align: left;}

#contactUs {text-align: left;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}
p, li, input {font-family: 'Quicksand', sans-serif;}

#title {font-size: 22px;}

body {background-color: #B4CDED;}

header {
    display: flex;
    margin: auto;
}

.menu {display: block;}
.menu li:first-child {
    display: block;
}
.menu li {
    display: none;
}

.openMenu li {
    display: block;
    list-style-type: none;
}

h3 {font-size: 10px;}

input {
    text-align: center;
    width: 65%;
    border: 2px dashed #FFED66;
    color: #B4CDED;
    padding: 10px; 
}
