/**Desktop View**/
@media only screen and (min-width: 1028px) {
    nav {
        border: double #FFED66 2px;
    }
    li {
        display: inline;
        text-decoration: none;
        padding: 0 10px 0 10px;
    }
}